@font-face {
  font-family: big-shoulders;
  src: url(./assets/fonts/BigShouldersStencil-Regular.ttf);

}

@font-face {
  font-family: Orbitron;
  src: url(./assets/fonts/Orbitron-Black.ttf);
}


@theme {
  --text-10xl: 10rem;
  --text-11xl: 12rem;
  --text-12xl: 14rem;
  --text-13xl: 16rem;
  --text-14xl: 18rem;
  --text-15xl: 20rem;
  
  --font-bsr: big-shoulders, "sans-serif";
  --font-orbitron: Orbitron, "sans-serif";

  --animate-shine: shine 5s linear infinite;
  
  @keyframes shine {
    0% { background-position: 100% }
    100% { background-position: -100% }
  }
  
}

@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0d0d0d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 2s ease-in-out;
}

:root::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1024px) {
  :root {
    font-size: 14px;
  }
}